<%- include("header") -%>
<center>
<h1 style="color: rgb(168, 33, 201);">ABOUT PAGE</h1>

<p>This is the To-Do List Version 2.0!</p>
<p>It is made using templating and layouts with ejs!</p>
</center>
<%- include("footer") -%>